# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

node_modules/
platforms/
plugins/

.idea/.name

.idea/jsLibraryMappings.xml

.idea/libraries/tempri_node_modules.xml

*.xml

*.iml

jobs/.status
